@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
	/* --primary: #059669; */
	/* --primary: #10b981; */

	--primary-val: 97, 218, 251;
	--primary: rgb(var(--primary-val));

	--bg-primary-val: 17, 24, 39;
	--bg-primary: rgb(var(--bg-primary-val));

	--light-val: 240, 240, 240;
	--light: rgb(var(--light-val));

	--bg-secondary-val: 31, 41, 55;
	--bg-secondary: rgb(var(--bg-secondary-val));
}

* {
	margin: 0;
	padding: 0;
}

body {
	/* transition: 0.4s ease-out; */
	height: 100vh;
	min-height: 500px;

	background-attachment: fixed;
	background-position: fixed;
	background-size: cover;
	background-repeat: no-repeat;

	background-image: url('./assets/shared/sprinkle.svg'),
		linear-gradient(to top, var(--primary), var(--bg-primary));

	// backdrop-filter: blur(0.5rem); // breaking header position
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		width: 0.25rem;
	}
	&::-webkit-scrollbar-track {
		background-color: var(--bg-primary);
	}
	&::-webkit-scrollbar-thumb {
		background: var(--bg-secondary);
	}
}

main {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;

	position: relative;
	top: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
