@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
	/* --primary: #059669; */
	/* --primary: #10b981; */
	--primary: rgb(97, 218, 251);
	--bg-primary: rgb(17, 24, 39);
	--light: rgb(240, 240, 240);
}

* {
	margin: 0;
	padding: 0;
}

body {
	transition: 0.4s ease-out;

	height: 100vh;
	min-height: 500px;

	background-attachment: fixed;
	background-position: fixed;
	background-size: cover;
	background-repeat: no-repeat;

	background-image: linear-gradient(
		to top,
		#61dafb,
		#50a3c6,
		#3f6f90,
		#2a4159,
		#111827
	);
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	color: black;
}

body::-webkit-scrollbar-thumb {
	background: aliceblue;
}

main {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;

	position: relative;
	top: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
