@use '~styles/partials/_colors.scss';

/*
  Kanjium component
*/

.container {
  width: 100%;
  padding: 0.5rem;

  .title {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    font-size: 2em;
    padding: 1rem;
    text-align: center;
  }

  .jptWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 0.5rem 0.5rem 0 0;

    table {
      border-collapse: collapse;

      thead {
        background-color: colors.$bg-primary;
        font-weight: bold;
        border-radius: 0.5rem 0.5rem 0 0;
      }

      tbody {
        display: block;
        max-height: 80vh;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 0.25rem;
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
          border-radius: 1em;
        }
        &::-webkit-scrollbar-thumb {
          background-color: colors.$text-primary;

          border-radius: 1em;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
        }
        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: colors.$accent;
          }
        }
      }

      th,
      td {
        width: 33.33%;
        height: 50px;
        padding: 1rem 0.5rem;

        word-break: break-all;
      }

      tr {
        box-sizing: border-box;
        display: table;
        width: 100%;
      }

      td {
        text-align: center;
        border-collapse: collapse;
      }
    }
  }
}
