@use '~styles/partials/_colors.scss';

.card {
  display: block;
  margin: auto;
  box-sizing: border-box;

  border-radius: 1em;

  padding: 0.5rem;
  text-align: center;
  width: 100%;
  color: colors.$light-color;

  border: solid 3px;
  border-color: rgba(colors.$bg-primary-color, 0.8);
  //   backdrop-filter: blur(0.5em);

  overflow: hidden;

  .card-header {
    display: flex;
    justify-content: space-around;

    span {
      @extend .label, .generic;
    }
  }

  h2 {
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    font-size: 5rem;
  }

  .search-results-placeholder {
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
}

.sub-content {
  margin-top: 1em;
  display: grid;

  .row {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      padding: 0.5rem;
    }
  }
}

.label {
  display: inline-block;
  min-width: 64px;
  padding: 0.5em;
  border-radius: 0.5em;
  color: #f4ffff;

  margin: 0.25em;
  text-align: center;

  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.on {
  background-color: colors.$on-color;
}

.kun {
  background-color: colors.$kun-color;
}

.generic {
  background-color: colors.$generic-color;
}
