@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.jtp-table {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  min-height: 40vh;
  max-height: 90vh;
  overflow-y: scroll;

  border-radius: 1em;

  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    border-radius: 1em;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1em;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
  }
}

.spinner {
  box-sizing: border-box;
  position: relative;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 0.15em solid white;
  border-top-color: var(--primary);
  animation: spinner 0.7s linear infinite;
  margin: auto;
}

table {
  text-align: center;
  width: 100%;

  th {
    background-color: var(--bg-primary);
    font-weight: bold;
    position: sticky;
    border-radius: 0.5rem 0.5rem 0 0;
    top: 0rem;
    z-index: 1;
  }

  th,
  td {
    border-bottom: 1px solid #111827;
    margin: 0;
    padding: 15px 10px;
  }

  tbody {
    margin-top: 15em;
  }

  tr {
    scroll-snap-align: start;
  }
}
