@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;

	width: 80vw;
	min-height: 40vh;
	/* max-height: 80vh; */
	/* overflow-y: scroll; */

	border-radius: 1em;
	box-shadow: 0 0.125em 4em rgba(0, 0, 0, 0.3);
	color: var(--light);
	background: rgba(17, 24, 39, 0.7);

	backdrop-filter: blur(1rem);

	padding: 1rem 0;
}

.spinner {
	box-sizing: border-box;
	position: relative;
	width: 4em;
	height: 4em;
	margin-top: 1em;
	border-radius: 50%;
	border: 0.15em solid white;
	border-top-color: var(--primary);
	animation: spinner 0.7s linear infinite;
	margin: 1em;
}

.home h2 {
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.1rem;
}
