@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s both;
}

// CSSTransition: header settings menu

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}

// CSSTransition: kanji display mode

.normal-enter {
  transform: translateX(-110%);
}
.normal-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease;
}
.normal-exit-active {
  transform: translateX(-110%);
  transition: all 300ms ease;
}

.strokes-enter {
  transform: translate(110%, -100%);
}
.strokes-enter-active {
  transform: translate(0%, -100%);
  transition: all 300ms ease;
}
.strokes-exit {
  transform: translate(0%, -100%);
}
.strokes-exit-active {
  transform: translate(110%, -100%);
  transition: all 300ms ease;
}
