$primary-val: 97, 218, 251;
$primary-color: rgb(220, 130, 190);

$bg-primary-val: 17, 24, 39;
$bg-primary-color: rgb(17, 24, 39);

$bg-secondary-val: 31, 41, 55;
$bg-secondary-color: rgb(31, 41, 55);

$light-val: 240, 240, 240;
$light-color: rgb(240, 240, 240);

$on-color: rgb(39, 67, 82);
$kun-color: rgb(53, 83, 83);
$generic-color: rgb(13, 20, 34);
