@use '~styles/partials/_colors.scss';

@mixin label(
  $padding-v: 0.5rem,
  $padding-h: 0.5rem,
  $border-radius: 0.5rem,
  $color
) {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 1.15rem;

  padding: $padding-v $padding-h;
  border-radius: $border-radius;

  background-color: $color;
}

@mixin navHover {
  color: colors.$light-color;
  background-color: colors.$primary-color;
  border-radius: 0.75rem;
}
