@use '~styles/partials/colors';

@mixin Label(
  $padding-v: 0.5rem,
  $padding-h: 0.5rem,
  $border-radius: 0.5rem,
  $color
) {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 1.15rem;

  padding: $padding-v $padding-h;
  border-radius: $border-radius;

  background-color: $color;
}

@mixin NavHover($color-text, $color-accent) {
  color: $color-text;
  background-color: $color-accent;
  border-radius: 0.75rem;
}

@mixin NeonTextShadow($light, $accent) {
  text-shadow: 0 0 5px $light, 0 0 10px $light, 0 0 20px $light, 0 0 40px $accent,
    0 0 80px $accent, 0 0 90px $accent, 0 0 100px $accent, 0 0 150px $accent;
}
