@use '~styles/partials/mixins';

/*
 * Nav
 */

.container {
  display: grid;
  grid-template-columns: 100px minmax(120px, 1fr);
  grid-template-rows: auto;

  nav {
    border-right: 2px solid var(--color-border);
    height: 32rem;
    overflow-y: scroll;

    @include mixins.ScrollBar();

    ul {
      list-style: none;
      text-decoration: none;

      li {
        position: relative;
        width: 100%;
        padding: 0.5rem 0;
        text-align: center;

        cursor: pointer;

        &.selected {
          background-color: var(--color-bg-secondary);
        }

        .sideline {
          position: absolute;
          left: -10px; // TODO: ok why not -1 ?
          top: 0;
          bottom: 0;
          background: var(--color-primary);
        }
      }
    }
  }

  /*
   * Details Component
   */

  .detailsContainer {
    padding: 0 0.5rem;

    h2 {
      font-size: 2rem;
      text-align: center;
      margin: 0.5rem 0;

      span {
        font-family: 'Poppins' sans-serif;
        font-weight: 200;

        + span {
          font-family: 'Noto Sans JP', sans-serif;
          font-weight: 100;
          color: var(--color-primary);
        }
      }
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;

      .kanjiContainer {
        flex: 1;

        background-color: rgb(var(--value-bg-primary), 0.75);
        border-radius: 1rem;
        border: 2px solid var(--color-border);

        overflow: hidden;

        .kanji {
          font-weight: 400;

          height: 230px; // TODO: idk get rid of rtg?
          text-align: center;

          transition: all 0.2s ease-in-out;

          ._normal {
            font-size: 10rem;
            font-family: 'Noto Serif JP', sans-serif;
          }

          ._strokes {
            // can't FIXME: this shite, so for now
            font-size: 10.775rem;
            font-family: KanjiStrokeOrders;
          }
        }

        fieldset {
          text-align: center;

          border: none;
          border-top: 2px solid var(--color-border);

          input {
            display: none;

            &:checked {
              & + label {
                color: var(--color-text);

                @include mixins.NeonTextShadow(#eee, var(--color-primary));
              }
            }
          }

          label {
            cursor: pointer;
            font-size: 1em;
            padding: 1em;

            color: var(--color-text);

            transition: text-shadow 0.5s ease;
          }
        }
      }

      /*
       * StatsItem component
       */

      .statsContainer {
        flex: 1;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 15px 10px;

        .statsItem {
          display: flex;
          flex-direction: column;
          text-align: center;

          font-family: 'Poppins' sans-serif;

          .statsValue {
            font-weight: 600;
            color: var(--color-text);
          }

          .statsLabel {
            font-weight: 400;
            color: rgba(var(--color-text-val), 0.7);
          }
        }
      }
    }

    /*
     * AddsItem component
     */

    .addsContainer {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;

      .addsItem {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .addsLabel {
          @include mixins.Label($padding-v: 0.25rem, $padding-h: 0.25rem, $color: var(--color-generic));
          display: inline-block;
          text-align: center;
          width: 6rem;
        }

        .addsContent {
          box-sizing: border-box;
          display: flex;
          width: 100%;
          padding: 0.5rem 0.75rem;

          white-space: nowrap;
          overflow: hidden;
        }

        /*
         * Modal Component
         */

        .heading {
          font-family: 'Noto Sans JP', sans-serif;
          font-size: 2rem;
          font-weight: 100;

          padding: 0.5rem;
          text-align: center;
        }

        .exitBtn {
          cursor: pointer;
          font-size: 1.5rem;

          position: absolute;
          right: 0;
          top: 0;

          display: flex;
          justify-content: center;
          align-items: center;

          border: none;
          border-radius: 50%;

          svg {
            fill: var(--color-bg-primary);
            border-radius: 50%;

            transition: fill 0.2s ease-in-out;
          }

          &:hover {
            svg {
              fill: var(--color-text);
              background: var(--color-primary);
            }
          }
        }

        .content {
          font-size: 14px;
          text-align: center;
          padding: 10px;
        }

        .closeBtn {
          cursor: pointer;
          font-size: 1rem;
          width: 100%;
          padding: 1rem 2rem;

          border: none;
          border-radius: 0 0 0.75rem 0.75rem;

          color: var(--color-text);
          background: var(--color-bg-primary);

          transition: all 0.2s ease;

          &:hover {
            color: var(--color-primary);
            background: var(--color-text);
          }
        }

        .addsIcon {
          float: right;
        }
      }
    }
  }
}

._clickable {
  cursor: pointer;
}

._noSelect {
  user-select: none;
}
