@use '~styles/partials/_colors.scss';
@use '~styles/partials/_mixins.scss';

.container {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;

  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  border-radius: 1em;
  padding: 0.5rem;

  color: colors.$text-primary;
  border: solid 3px colors.$bg-primary;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  transition: all 0.1s ease-in;

  position: relative;
  top: 0;

  &:hover {
    top: -2px;
    border-color: colors.$acc-primary;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    font-size: 5rem;
  }

  .details {
    margin-top: 1em;
    display: grid;

    .row {
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 400;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .label {
        display: inline-block;
        min-width: fit-content;
        padding: 0.4rem 0.3rem;
        border-radius: 0.5em;
      }

      ._generic {
        background-color: colors.$generic-color;
      }
    }
  }
}
