@use '~styles/partials/mixins';

.container {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;

  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  border-radius: 1em;
  padding: 0.5rem;

  color: var(--color-text);
  border: solid 3px var(--color-bg-primary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  transition: all 0.1s ease-in;

  position: relative;
  top: 0;

  h2 {
    font-family: 'Noto Serif JP', serif;
    font-weight: 100;
    font-size: 5rem;
  }

  &:hover {
    top: -2px;
    border-color: var(--color-primary);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  }

  .details {
    margin: 1em 0;
    display: grid;

    .row {
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 400;

      display: flex;
      justify-content: space-between;
      align-items: center;

      overflow: hidden;

      + .row {
        margin-top: 0.25rem;
      }

      .label {
        min-width: fit-content;
        padding: 0.5rem;
        margin-right: 0.5rem;
        border-radius: 0.5em;
      }

      .readings {
        width: 100%;
        display: flex;

        white-space: nowrap;
        overflow: hidden;
      }

      ._generic {
        background-color: var(--color-generic);
      }
    }
  }
}
