@use '~styles/partials/_colors.scss';

.kt-container {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;

  border-radius: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
