@use '~styles/partials/_colors.scss';
@use '~styles/partials/_fonts.scss';
@use '~styles/partials/_mixins.scss';

.container {
  h2 {
    font-size: 2rem;

    text-align: center;
    margin: 0.5rem 0;

    span {
      font-family: 'Poppins' sans-serif;
      font-weight: 200;

      + span {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 100;
      }
    }
  }

  .kd-main {
    display: flex;
    align-items: center;
    justify-content: center;

    .kanji-container {
      flex: 1;

      background-color: rgba(colors.$bg-primary-color, 0.75);
      border-radius: 1rem;
      border: 2px solid rgba(colors.$light-color, 0.25);

      overflow: hidden;

      .kanji {
        font-weight: 400;
        line-height: -50%;

        height: 230px;
        text-align: center;

        transition: all 0.2s ease-in-out;

        .normal {
          font-size: 10rem;
          font-family: 'Noto Serif JP', sans-serif;
        }

        .strokes {
          // can't TODO: fix this shite, so
          font-size: 10.775rem;
          font-family: KanjiStrokeOrders;
        }
      }

      fieldset {
        text-align: center;

        border: none;
        border-top: 2px solid rgba(colors.$light-color, 0.25);

        input {
          display: none;

          &:checked + label {
            color: colors.$light-color;
            text-shadow: 0 0 5px colors.$light-color,
              0 0 10px colors.$light-color, 0 0 20px colors.$light-color,
              0 0 40px colors.$primary-color, 0 0 80px colors.$primary-color,
              0 0 90px colors.$primary-color, 0 0 100px colors.$primary-color,
              0 0 150px colors.$primary-color;
          }
        }

        label {
          cursor: pointer;
          font-size: 1em;
          padding: 1em;

          color: colors.$light-color;

          transition: all 0.1s ease-in-out;
        }
      }
    }

    .kdm-stats {
      flex: 1;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 15px 10px;

      .stats-item {
        display: flex;
        flex-direction: column;
        text-align: center;

        font-family: 'Poppins' sans-serif;

        .item-value {
          color: colors.$light-color;
          font-weight: 600;
        }

        .item-label {
          color: rgba(colors.$light-color, 0.7);
          font-weight: 400;
        }
      }
    }
  }

  .kd-adds {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    .adds-item {
      display: inline-block;
      justify-content: space-between;

      .item-label {
        @include mixins.label($color: colors.$generic-color);
      }

      .item-icon {
        float: right;
      }
    }
  }
}
