@use '~styles/partials/_colors.scss';
@use '~styles/partials/_fonts.scss';
@use '~styles/partials/_mixins.scss';

.container {
  h2 {
    font-size: 2rem;

    text-align: center;
    margin: 0.5rem 0;

    span {
      font-family: 'Poppins' sans-serif;
      font-weight: 200;

      + span {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 100;
      }
    }
  }

  .kd-main {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    .kdm-strokes {
      font-family: KanjiStrokeOrders;
      font-weight: 400;
      font-size: 144px;

      flex: 1;
      text-align: center;

      background-color: rgba(colors.$bg-primary-color, 0.75);
      //   border: 2px solid rgba(colors.$light-color, 0.7);
    }

    .kdm-stats {
      flex: 1;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 15px 10px;

      .stats-item {
        display: flex;
        flex-direction: column;
        text-align: center;

        font-family: 'Poppins' sans-serif;

        .item-value {
          color: colors.$light-color;
          font-weight: 600;
        }

        .item-label {
          color: rgba(colors.$light-color, 0.7);
          font-weight: 400;
        }
      }
    }
  }

  .kd-adds {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    .adds-item {
      display: inline-block;
      justify-content: space-between;

      .item-label {
        @include mixins.label($color: colors.$generic-color);
      }

      .item-content {
      }

      .item-icon {
        float: right;
      }
    }
  }
}
