@use 'styles/partials/colors';
@use 'styles/partials/mixins';

.label {
  @include mixins.label(
    $padding-v: 0.25rem,
    $padding-h: 0.25rem,
    $color: colors.$generic-color
  );
}

/*
  Controlled
*/

.tag {
  display: inline-block;
  min-width: fit-content;
  padding: 0.4rem 0.3rem;
  border-radius: 0 0.5em 0.5em 0;
  color: rgba(colors.$generic-color, 0.5);
  background-color: colors.$light-color;

  user-select: none;
}

._on {
  background-color: colors.$on-color;
}

._kun {
  background-color: colors.$kun-color;
}

._tagged {
  border-radius: 0.5em 0 0 0.5em;
}

._外 {
  opacity: 0.25;
}
