@use '~styles/partials/mixins';

.label {
  @include mixins.Label(
    $padding-v: 0.25rem,
    $padding-h: 0.25rem,
    $color: var(--color-generic)
  );
}

/*
  Controlled
*/

.reading {
  display: inline-block;
  padding: 0.25rem;

  .tag {
    padding: 0.25rem 0.25rem;
    border-radius: 0 0.5em 0.5em 0;
    color: rgba(var(--value-generic), 0.5);
    background-color: var(--color-text);

    user-select: none;
  }

  ._on {
    background-color: var(--on);
  }

  ._kun {
    background-color: var(--kun);
  }

  ._tagged {
    border-radius: 0.5em 0 0 0.5em;
  }

  ._外 {
    opacity: 0.25;
  }
}
