@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  box-sizing: border-box;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 0.15em solid white;
  border-top-color: var(--color-primary);
  animation: spinner 0.7s linear infinite;
  margin: 2rem auto;
}

.fillGrid {
  grid-column: 1/-1;
}
