input[type='search'] {
  font-size: 2rem;

  width: 100%;
  height: 50px;

  padding: 0 1rem;

  color: #65737e;
  background: var(--color-secondary);

  border: 2px solid var(--color-bg-primary);
  border-radius: 0.5rem 0.5rem 0 0;

  transition: color 0.1s ease-in-out, background 0.25s ease-in-out;

  &::placeholder {
    font-size: 1rem;
  }

  &::-webkit-input-placeholder {
    color: var(--color-bg-primary);
    transition: color 0.1s ease-in-out;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: var(--color-text);

    &::-webkit-input-placeholder {
      color: var(--color-text);
    }
  }
}
