@use '~styles/partials/fonts';

:root {
  --color-primary: rgb(220, 130, 190);

  --value-bg-primary: 17, 24, 39;
  --color-bg-primary: rgb(var(--value-bg-primary));
  --color-bg-secondary: rgb(31, 41, 55);

  --color-text: rgb(240, 240, 240);
  --color-border: rgba(240, 240, 240, 0.25);

  --on: rgb(53, 83, 83);
  --kun: rgb(39, 67, 82);

  --value-generic: 13, 20, 34;
  --color-generic: rgb(var(--value-generic));
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('~assets/shared/bgDark.svg');
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url('~assets/shared/bgLight.svg');
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  scroll-behavior: smooth;
  transition: background 0.25s ease-in-out;

  #root {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    main {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;

      box-sizing: border-box;
      display: block;

      margin-top: 5rem;
      width: 80vw;
      overflow: hidden;

      border-radius: 0.5rem;

      color: var(--color-text);
      background-color: rgba(var(--value-bg-primary), 0.8);
      backdrop-filter: blur(10px);
      box-shadow: 0 0.125em 4em rgba(var(--value-bg-primary), 0.3);

      transition: background 0.25s ease-in-out;
    }
  }
}
