:root {
  --color-primary: rgb(220, 130, 190);

  --value-bg-primary: 17, 24, 39;
  --color-bg-primary: rgb(var(--value-bg-primary));
  --color-bg-secondary: rgb(31, 41, 55);

  --color-text: rgb(240, 240, 240);
  --color-border: rgba(240, 240, 240, 0.25);

  --on: rgb(53, 83, 83);
  --kun: rgb(39, 67, 82);
  --generic: rgb(13, 20, 34);
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('~assets/shared/bgDark.svg');
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url('~assets/shared/bgLight.svg');
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  scroll-behavior: smooth;
  transition: background 0.25s ease-in-out;
}

main {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  position: relative;
  top: 5rem;
  width: 80vw;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  border-radius: 1em;

  color: var(--color-text);
  background-color: rgba(var(--value-bg-primary), 0.8);
  backdrop-filter: blur(0.5rem);
  box-shadow: 0 0.125em 4em rgba(var(--value-bg-primary), 0.3);

  transition: background 0.25s ease-in-out;
}
